<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    {% block local_style %}
    {% endblock %}
</head>
<body>
    <header>
        <!--<div id="header-main">
            Simple Site
        </div>-->
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block local_scripts %} 
    {% endblock %}
</body>