{% extends 'base.html' %}

{% block title %}
    SPC: The Ultimate Test 
{% endblock %}

{% block local_style %}
    <link rel="stylesheet" href="{{url_for('static', filename='home_style.css')}}">
{% endblock %}
{% block content %}
    <main>
        <h1>Stars, Personality, and Chance</h1>
        <p>
            How do the stars affect who you are? How does your ability to answer a personality test change what number you're likely to select of 10?
            Now is your time to find out. Answer the questions below to see how you match up to others who are similar to you.
        </p>
    </main>
    <form action="/submit">
        <div class="img-radio-group" role="radiogroup" aria-label="sign" aria-labelledby="sign-head">
            <h2 id="sign-head">
                Choose your sign
            </h2>
            <div class="radio-container">
                {% for sign in signs %}
                    <div class="radio-option">
                        <label for="s{{ sign[0] }}">
                            <input required id="s{{ sign[0] }}" type="radio" name="sign" value="{{ sign[0] }}"/>
                            <div aria-hidden="true" class="visible-label">
                                <img src="{{url_for('static', filename='noun-'+sign[1] + '.svg')}}"><br>
                                {{ sign[1].capitalize() }}
                            </div>
                            <span class="screenreader-label">{{ sign[1].capitalize() }}</span>
                        </label>  
                    </div> 
                {% endfor %}
            </div>
        </div>
        <br>
        <div id="personality-radio-group" role="radiogroup" aria-labelledby="personality-head">
            <h2 id="personality-head">Select your personality type</h2>
            <div class="radio-container">
            {% for type in personalities %}
                <div class="radio-option">
                    <label for="p{{ type[0] }}">
                        <input required id="p{{ type[0] }}" type="radio" name="personality" value="{{ type[0] }}"/>
                        <div aria-hidden="true" class="visible-label">
                            {{ type[1].upper() }}
                        </div>
                        <span class="screenreader-label">{{ type[1].upper() }}</span>

                    </label>
                </div>
            {% endfor %}
            </div>
        </div>

        <br>
        <div id="choice-radio-group" role="radiogroup" aria-labelledby="choice-head">
            <h2 id="choice-head">Pick a number between one and ten</h2>
            <div class="radio-container">
            {% for i in range(1,11) %}
                <div class="radio-option">
                    <label for="c{{ i }}">
                        <input required id="c{{ i }}" type="radio" name="selection" value="{{ i }}"/>
                        <div aria-hidden="true" class="visible-label">
                            {{ i }}
                        </div>
                        <span class="screenreader-label">{{ i }}</span>

                    </label>
                </div>
            {% endfor %}
            </div>
        </div>
        <input type="submit">
    </form>
{% endblock %}